numpy
pandas
matplotlib
seaborn
scikit-learn


# preprocesseing 
textblob
wordninja
nltk
inflect

# model 
joblib
# pickle

# for the traking 
mlflow 


missingno



flask
ipykernel
ydata-profiling

dvc 








